Lab5/Udacity/TourGuide/.gradle/2.10/taskArtifacts/cache.properties
Lab4/Udacity/ud839_Miwok-Starter-code/app/src/main/res/values/strings.xml
Lab4/
Lab5/
Lab4/Udacity/ud839_Miwok-Starter-code/app/src/main/res/values/strings.xml